# this notebook will be mainly used for the capstone project

In [35]:
import pandas as pd
import numpy as np

In [36]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

# Scrap wikipedia table

In [37]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

# clean table

In [39]:
df=df[0]
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

# Read csv file

In [48]:
url = "https://cocl.us/Geospatial_data"
df2 = pd.read_csv(url)
df2.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

# chane the first column's name to be as the first dataframe

In [49]:

df2.rename(columns={'Postal Code': 'Postal code'}, inplace=True)
df2.head()

  Postal code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

# Create a new dataframe to merge first & second dataframeÂ¶

In [50]:
df3 = pd.merge(df, df2, on='Postal code')
df3.head()

,Postal code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Regent Park / Harbourfront,43.654260,-79.360636
3,M6A,North York,Lawrence Manor / Lawrence Heights,43.718518,-79.464763
4,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government,43.662301,-79.389494