# this notebook will be mainly used for the capstone project

In [35]:
import pandas as pd
import numpy as np

In [36]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

# Scrap wikipedia table

In [37]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

# clean table

In [39]:
df=df[0]
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

# Ignore cells with a borough that is Not assigned

In [20]:
df2= df[df.Borough != 'Not assigned']
df2.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

# Change the value of the Neighborhood to be like the Borough (Queen's Park)

In [27]:
df4= df3.replace("Not assigned", "Queen's Park")
df4.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

# Combine neighborhoods which have the same postcode

In [25]:
df3 = df2.groupby(['Postal code', 'Borough'], sort = False).agg(','.join)
df3.reset_index(inplace = True)
df3.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [28]:
df4.shape

(103, 3)